<div>
  <label>Fist Name:</label><br>
  <p> {{firstName}}</p> 
  <br>
  <label>Last Name:</label>
  <br>
  <p>{{lastName}}<p>
    <br>
    <br>
  <label>e-mail:</label>
  <br>
  <p>{{email}}<p>
   
</div>