<div>
  <label><h2>First Name:</h2></label>
    <p> {{firstName}}</p> 
  <label><h2>Family Name:</h2> </label>
    <p>{{lastName}}<p>
  <label><h2>e-mail:</h2></label>
    <p>{{email}}<p>
    <a class="btn" href="mailto:{{email}}">Send email</a>
</div>