<form action={{action}} method="POST">
  <label for="fname"><h2>Firts Name:</h2></label>
  <input type="text" id="fname" name="firstName" value={{firstName}}>
  <label for="lname"><h2>Family Name:</h2></label>
  <input type="text" id="lname" name="lastName" value={{lastName}}>
  <label for="lname"><h2>email:</h2></label>
  <input type="text" id="lname" name="email" value={{email}}>
  <br>
  <br>
   <button class="btn" type="submit" >Submit</button>
</form>