<div>
<a class="btn" href="/jobs">JOBS available</a>
</div>
<br>
<div>
<a class="btn" href='/candidates'>Candidates</a>
</div> 
<br>
<div>
<a class="btn" href='/interviews'>Interviews</a>
</div>
   

   
