<table>
  <tr>
    <th><h2>Slot</h2></th>
    <th><h2>Job Description</h2></th>
    <th colspan="3"><h2>Tools</h2></th>
  </tr>
  {{#each data}}
  <tr>
    <td>{{slot}}</td>
    <td>{{_id}}</td>
    <td><a href='/jobs/update/{{_id}}'>Approve</a></td>
    <td><a href='/jobs/delete/{{_id}}'>Reject</a></td>
   </tr>
  {{/each}}
</table>