<form action={{action}} method="POST">
  <label for="fname">Job title:</label><br>
  <input type="text" id="fname" name="title" value={{title}}><br>
  <label for="lname">Job description:</label><br>
  <textarea type="text" id="lname" name="description" rows="4" cols="50">{{description}}</textarea><br><br>
  <button class="btn" type="submit" >Submit</button>
</form>